.zIndex{
    width: 100%;
    position: absolute;
    z-index: 4;
    display: grid;
    top: 50%;
}

.barbie1{
    width: 18vw;
    justify-self: right;
    position: relative;
    left: 7vw;
}

.barbie2{
    width: 12vw;
}

.barbie3{
    width: 30vw;
}